#ExamPointsLabel, #ExamPointsSeparator
{
	float: left;
}

#ExamPointsCurrent, #ExamPointsMax
{
	width: 35px;
	float: left;
	text-align: center;
}

#ExamWorkProgress
{
}

#ExamTimeProgress
{
}

#ExamEndButton
{
	width: 100%;
}

.HomeUpgradesFloater
{
	position: relative;
	float: left;
	width: 200px;
	height: 130px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	margin: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
}

.HomeUpgradesText
{
	font-style: italic;
	font-size: 100%;
}

.HomeUpgradesButton
{
	bottom: 5px;
	width: 100%;
}

hr
{
	clear: both;
}