#ExamPointsLabel, #ExamPointsSeparator
{
	float: left;
}

#ExamPointsCurrent, #ExamPointsMax
{
	width: 35px;
	float: left;
	text-align: center;
}

#ExamWorkProgress
{
}

#ExamTimeProgress
{
}

#ExamEndButton
{
	width: 100%;
}