#ExamPointsLabel, #ExamPointsSeparator
{
	float: left;
}

#ExamPointsCurrent, #ExamPointsMax
{
	width: 35px;
	float: left;
	text-align: center;
}

#ExamWorkProgress
{
}

#ExamTimeProgress
{
}

#ExamEndButton
{
	width: 100%;
}

.HomeUpgradesFloater
{
	position: relative;
	float: left;
	width: 200px;
	height: 130px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	margin: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
}

.HomeUpgradesText
{
	font-style: italic;
	font-size: 100%;
}

.HomeUpgradesButton
{
	bottom: 5px;
	width: 100%;
}

hr
{
	clear: both;
}

/*Added for UI:*/

html, body { 
	height: 100%; 
	width: 100%; 
	margin: 0; 
	}
.block_1 {
	
	width: 70%;
	height: 90%;
	position: relative;
	background: rgb(204,204,204);
	background: rgba(204, 204,204,0.3);
	overflow: hidden;
	border-radius: 25px;
    border: 2px solid #000000;
	padding:20px;
}

#block_2 {
	float:left;
	width: 30%;
	margin: 20px;
	height: 470px;
	border: 1px solid;
	overflow:auto;
	border-radius: 25px;
    border: 1px solid #000000;
	box-shadow: 5px 5px 5px #888888;
}
#block_3 {
	float:right;
	width: 60%;
	height: 470px;
	margin: 20px;
	border: 1px solid;
	border-radius: 25px;
    border: 1px solid #000000;
	text-align: center;
	box-shadow: 5px 5px 5px #888888;
}

#block_100_1 {
	float: right;
	width: 100%;
	height: 10%;
	border-top: 1px solid;
	border-bottom: 1px solid;
	box-shadow: 3px 3px 3px #888888;
}
hr.custom {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
button.custom {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	background-color: #555555;
}
